
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
   <title>my app</title>
</head>
<body>
   <div>
      <h1> my todo-list</h1>
      <form action="/add" method="POST">
         <input type="text" name = 'username' placeholder="Enter your name">
          <button type="submit">Add user</button>
      </form>
      <a href="/users">View All Users</a>
   </div>
</body>
</html>